<form action = '/blog/write' method = 'post'>
    <div class = 'form-group'>
        <input type = 'text' name = 'llo' class = 'form-control'>
    </div>
    <div class = 'form-group'>
        <textarea name = 'content'  rows = '20' class ='form-control'></textarea>
    </div>
    <div class = 'form-action'>
        <input type = 'submit' value = 'write' class = 'btn btn-default'>
    </div>
</form>